{% extends 'main/layout.html' %}

{% block title %}Форма по додаванню статті{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма по додаванню статті</h1>
        <form method="post">
            {% csrf_token %}<br>
            {{ form.title }}<br>
            {{ form.announcement }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>

            <button class="btn btn-success" type="submit">Додати статтю</button>
        </form>
    </div>
{% endblock %}