{% extends 'main/layout.html' %}

{% block title %}Про що застосунок{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про що застосунок</h1>
        <p>Цей застосунок створений у тренувальних цілях. Тут реалізований певний функціонал, а саме:</p></br>
        <p>1) завантаження json файлів, їх десеріалізація з подальшим скачуванням csv файлів;</p></br>
        <p>2) авторизація, яка включає реєстрацію, вхід та вихід та дає доступ до прихованих можливостей чи по іншому показує інформацію;</p></br>
        <p>3) вивід статей раніше записаних до бази даних та їх детальна інформація, а для авторизованих користувачів - створення статей, запис їх до бази даних, подальше їх редагування та видалення;</p></br>
        <a href="{% url 'home' %}" class="btn btn-warning">Головна</a>
    </div>
{% endblock %}